#{$contentClass} {
	code {
		border-radius: 3px;
		background-color: color(IceDark, 0.25);
		color: lighten($textColor, 20%);
		font-size: 0.85em;
		padding: 0.25rem 0.5rem;
		margin: 0;
		// white-space: nowrap;
		.token {
			&.deleted {
				color: #ec5975;
			}
			&.inserted {
				color: $accentColor;
			}
		}
	}
}

#{$contentClass} {
	pre,
	pre[class*="language-"] {
		background-color: $codeBgColor;
		line-height: 1.4;
		overflow: auto;
		padding: 1.25rem 1.5rem;
		margin: 0.85rem 0;
		code {
			border-radius: 0;
			background-color: transparent;
			color: #fff;
			padding: 0;
		}
	}
}

div[class*="language-"] {
	position: relative;
	background-color: $codeBgColor;
	.highlight-lines {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		line-height: 1.4;
		user-select: none;
		padding-top: 1.3rem;
		.highlighted {
			background-color: rgba(0, 0, 0, 66%);
		}
	}
	pre,
	pre[class*="language-"] {
		position: relative;
		z-index: 1;
		background: transparent;
	}
	&::before {
		position: absolute;
		top: 0.8em;
		right: 1em;
		z-index: 3;
		color: rgba(255, 255, 255, 0.4);
		font-size: 0.75rem;
	}
	&:not(.line-numbers-mode) {
		.line-numbers-wrapper {
			display: none;
		}
	}
	&.line-numbers-mode {
		.highlight-lines .highlighted {
			position: relative;
			&:before {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;
				display: block;
				width: $lineNumbersWrapperWidth;
				height: 100%;
				background-color: rgba(0, 0, 0, 66%);
			}
		}
		pre {
			padding-left: $lineNumbersWrapperWidth + 1 rem;
			vertical-align: middle;
		}
		.line-numbers-wrapper {
			position: absolute;
			top: 0;
			width: $lineNumbersWrapperWidth;
			color: rgba(255, 255, 255, 0.3);
			line-height: 1.4;
			text-align: center;
			padding: 1.25rem 0;
			br {
				user-select: none;
			}
			.line-number {
				position: relative;
				z-index: 4;
				font-size: 0.85em;
				user-select: none;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: $lineNumbersWrapperWidth;
			height: 100%;
			border-right: 1px solid rgba(0, 0, 0, 66%);
			border-radius: 6px 0 0 6px;
			background-color: $codeBgColor;
		}
	}
}

@each $lang in $codeLang {
	div[class~="language-#{$lang}"] {
		&:before {
			content: "" + $lang;
		}
	}
}

div[class~="language-javascript"] {
	&:before {
		content: "js";
	}
}

div[class~="language-typescript"] {
	&:before {
		content: "ts";
	}
}

div[class~="language-markup"] {
	&:before {
		content: "html";
	}
}

div[class~="language-markdown"] {
	&:before {
		content: "md";
	}
}

div[class~="language-json"]:before {
	content: "json";
}

div[class~="language-ruby"]:before {
	content: "rb";
}

div[class~="language-python"]:before {
	content: "py";
}

div[class~="language-bash"]:before {
	content: "sh";
}

div[class~="language-php"]:before {
	content: "php";
}
$color_1: color(Ice);
$color_2: color(IceDark);
$color_3: color(_Magenta);
$color_4: color(Skyblue);
$color_5: color(OrangeLight);
$color_6: color(_Yellow);
$color_7: color(MagentaLight);
$color_8: color(_Turquoise);
$color_9: color(Cloud);
$color_10: color(_Green);
$monospace-font: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
/* Code blocks */
/* Inline code */
code[class*="language-"] {
	background: none;
	color: $color_1;
	font-size: 1em;
	font-family: $monospace-font;
	line-height: 1.5;
	white-space: pre;
	text-align: left;
	word-wrap: normal;
	word-break: normal;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
pre[class*="language-"] {
	background: none;
	background: #2d2d2d;
	color: $color_1;
	font-size: 1em;
	font-family: $monospace-font;
	line-height: 1.5;
	white-space: pre;
	text-align: left;
	word-wrap: normal;
	word-break: normal;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	overflow: auto;
	padding: 1em;
	margin: 0.5em 0;
}
:not(pre) {
	> code[class*="language-"] {
		border-radius: 0.3em;
		background: #2d2d2d;
		white-space: normal;
		padding: 0.1em;
	}
}
.token.comment {
	color: color(White, 0.5);
}
.token.block-comment {
	color: $color_2;
}
.token.prolog {
	color: $color_2;
}
.token.doctype {
	color: $color_2;
}
.token.cdata {
	color: $color_2;
}
.token.punctuation {
	color: $color_1;
}
.token.tag {
	color: $color_3;
}
.token.attr-name {
	color: $color_3;
}
.token.namespace {
	color: $color_3;
}
.token.deleted {
	color: $color_3;
}
.token.function-name {
	color: $color_4;
}
.token.boolean {
	color: $color_5;
}
.token.number {
	color: $color_5;
}
.token.function {
	color: $color_5;
}
.token.property {
	color: $color_6;
}
.token.class-name {
	color: $color_6;
}
.token.constant {
	color: $color_6;
}
.token.symbol {
	color: $color_6;
}
.token.selector {
	color: $color_7;
}
.token.important {
	color: $color_7;
	font-weight: bold;
}
.token.atrule {
	color: $color_7;
}
.token.keyword {
	color: $color_7;
}
.token.builtin {
	color: $color_7;
}
.token.string {
	color: $color_8;
}
.token.char {
	color: $color_8;
}
.token.attr-value {
	color: $color_8;
}
.token.regex {
	color: $color_8;
}
.token.variable {
	color: $color_8;
}
.token.operator {
	color: $color_9;
}
.token.entity {
	color: $color_9;
	cursor: help;
}
.token.url {
	color: $color_9;
}
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.inserted {
	color: $color_10;
}
