.content__default {
	table {
		border: 1px solid color(IceLight);
		td,
		th {
			padding: 1rem;
		}
		tr {
			border: 1px solid color(IceLight);
		}
		tbody {
			tr {
				&:nth-child(odd) {
					background-color: color(IceLight, 0.25);
				}
			}
		}
	}

	blockquote {
		padding: 2rem;
	}

	ol,
	ul {
		li {
			display: block;
			line-height: 1.75;
			&:before {
				content: '- ';
			}
		}
	}
	ol {
		counter-reset: list;
		li {
			counter-increment: list;
			&:before {
				content: counter(list) '. ';
			}
			ol {
				counter-reset: list2;
				li {
					counter-increment: list2;
					&:before {
						content: counter(list) '.' counter(list2) '. ' ;
					}
				}
			}
		}
	}
}
