.content__default {
	overflow-x: scroll;
	table {
		border: 1px solid color(IceLight);
		@media #{$small-only} {
			display: block;
			min-width: calc(100vw - #{$mobile-padding * 2});
			max-width: calc(100vw - #{$mobile-padding * 2});
			overflow-x: auto;
		}
		td,
		th {
			padding: 1rem;
		}
		tr {
			border: 1px solid color(IceLight);
		}
		tbody {
			tr {
				&:nth-child(odd) {
					background-color: color(IceLight, 0.25);
				}
			}
		}
	}

	@media #{$small-only} {
		table {
			display: flex;
			thead {
				display: flex;
				flex-shrink: 0;
				flex-direction: column;
				tr {
					display: flex;
					flex-direction: column;
					th{ text-align: left;}
				}
			}
			tbody {
				display: flex;
				flex-grow: 1;
				flex-wrap: nowrap;
				overflow: scroll;
				tr {
					display: flex;
					flex-direction: column;
					td{ white-space: nowrap; }
				}
			}
		}
	}

	blockquote {
		padding: 2rem;
	}

	ol,
	ul {
		li {
			display: block;
			line-height: 1.75;
			&:before {
				content: '- ';
			}
		}
	}
	ol {
		counter-reset: list;
		li {
			counter-increment: list;
			&:before {
				content: counter(list) '. ';
			}
			ol {
				counter-reset: list2;
				li {
					counter-increment: list2;
					&:before {
						content: counter(list) '.' counter(list2) '. ';
					}
				}
			}
		}
	}
}
