.custom-block {
	padding: #{($mobile-padding / 2 )} $mobile-padding;
	.custom-block-title {
		font-weight: 600;
		// margin-bottom: -0.4rem;
	}
	&.tip,
	&.warning,
	&.danger {
		border-left-width: 0.5rem;
		border-left-style: solid;
		margin: 1rem 0;
	}
	&.tip {
		border-color: color(Green);
		background-color: color(GreenLight, 0.25);
	}
	&.warning {
		border-color: color(Orange);
		background-color: color(OrangeLight, 0.25);
		.custom-block-title {
			color: color(Brown);
		}
		a {
			color: $textColor;
		}
	}
	&.danger {
		border-color: color(Red);
		background-color: color(RedLight, 0.25);
		.custom-block-title {
			color: darken(Red, 40%);
		}
		a {
			color: $textColor;
		}
	}
}
