.custom-block {
	padding: #{($mobile-padding / 2 )} $mobile-padding;
	.custom-block-title {
		font-weight: 600;
		// margin-bottom: -0.4rem;
	}
	&.tip,
	&.warning,
	&.danger {
		border-left-width: 0.5rem;
		border-left-style: solid;
		margin: 1rem 0;
	}
	&.tip {
		border-color: color(Green);
		background-color: color(IceLight);
	}
	&.warning {
		border-color: color(Yellow);
		background-color: color(Brown, 0.25);
		color: color(Brown);
		.custom-block-title {
			color: color(Brown);
		}
		a {
			color: $textColor;
		}
	}
	&.danger {
		border-color: color(Red, 0.2);
		background-color: color(White);
		color: darken(Red, 0.2);
		.custom-block-title {
			color: darken(red, 40%);
		}
		a {
			color: $textColor;
		}
	}
}
