.search-box {
	position: fixed;
	top: 0;
	right: 0;
	min-width: $navbarHeight;
	height: $navbarHeight;

	&__icon {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 3;
		width: $navbarHeight;
		height: $navbarHeight;
		color: color(Dark);
		font-size: 10px;
		transform: translateY(-50%) scale(1);
		transition: $base-transition $base-cubic-bezier;
		pointer-events: none;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 1em;
			height: 1em;
			border: 0.2em solid currentColor;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			transition: $base-transition $base-cubic-bezier;
		}
		&::after {
			content: "";
			position: absolute;
			top: calc(50% + 0.5em);
			left: calc(50% + 0.5em);
			width: 0.2em;
			height: 0.5em;
			background-color: currentColor;
			transform: rotate(-45deg);
			transform-origin: 0 0;
			transition: $base-transition $base-cubic-bezier;
		}
	}

	&__input {
		position: relative;
		left: 0rem;
		width: 100%;
		height: $navbarHeight;
		border: none;
		border-radius: 0;
		background-color: color(_Yellow);

		font-weight: bold;
		font-size: 1rem;
		padding: 1rem;
		padding-left: $navbarHeight;
		padding-right: 0;
		&::placeholder {
			color: color(Dark);
		}
		&:focus {
			outline: none;
			background-color: color(YellowDark);
		}

		&:focus {
			border: none;
			color: color(Dark);
		}
	}

	&__suggestions {
		position: absolute;
		top: 0;
		top: $navbarHeight;
		right: 0;
		min-width: 100%;
		border: none;
		border-radius: 0;
		background-color: color(Dark);
		padding: 0;
		clip-path: inset(0 0 0 100%);
		transition: clip-path $base-transition $base-cubic-bezier;
		animation: iosFix1 $base-transition;
		pointer-events: none;
		&--active {
			clip-path: inset(0 0 0 0%);
			animation: iosFix1 $base-transition;
			pointer-events: all;
		}
	}
	&__suggestion {
		display: block;
		border-radius: 0;
		color: white;
		padding: 0;
		&.focused {
			background-color: color(White);
			color: color(Dark);
		}
	}
	&__link {
		display: block;
		color: currentColor;
		padding: 1rem 1rem;
		&:hover {
			background-color: color(DarkDark);
			color: color(Green);
		}
	}
	&__title {
		& + .search-box__header {
			&:before {
				content: "";
				display: inline-block;
				width: 0.4em;
				height: 0.4em;
				border-top: 0.1em solid color(Green);
				border-right: 0.1em solid color(Green);
				transform: rotate(45deg);

				margin-right: 0.5em;
			}
		}
	}
	@media #{$small-only} {
		right: $navbarHeight;
		width: $navbarHeight;
		transition: width $base-transition $base-cubic-bezier;
		&.focused {
			width: $navbarHeight * 4;
			.search-box__icon {
				transform: translateY(-50%) scale(1.2);
			}
		}
	}
}
