.search-box {
	position: fixed !important;
	top: 0;
	right: 0;
	min-width: $navbarHeight;
	height: $navbarHeight;
	background-color: color(Yellow);
	@media #{$small-only} {
		right: $navbarHeight;
	}
	
	& > input {
		position: relative;
		left: 50%;
		top: 50%;
		font-size: 1rem;
		font-weight: bold;
		transform: translateY(-50%);
		background: none !important;
		background-color: transparent !important;
		&:focus {
			border: none;
			color: color(Dark);
		}
	}

	& > ul.suggestions{
		border: none; 
		padding: 0;
		background-color: color(Dark); border-radius: 0; position: fixed; top: $navbarHeight; right: $navbarHeight;
		li{
			padding: 0; 
			border-radius: 0;
			 display: block; 
			 a{ color: white;
			display: block; padding: .5rem 1rem; 
		&:hover{
			background-color: color(DarkDark);
			color: color(Green);
		}}
		}
	}
}