.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: $sidebarWidth;
	box-sizing: border-box;
	background-color: color(Dark, 0.15);
	color: color(Dark);
	overflow-y: auto;
	margin: 0;
	&__links {
		display: block;
		margin: 0;
		li {
			display: block;
		}
	}
	&__link {
		display: block;
		color: currentColor;
		padding: #{($mobile-padding / 4)} $mobile-padding;
		&.active {
			color: $accentColor;
		}
	}
	&__heading {
		display: block;
		font-weight: bold;
		padding: 0.5rem 2rem;
	}
	&__group {
		margin-top: 1rem;
	}
	&__group-items {
		// border: 1px solid blue;
	}
	&__sub-headers {
		display: block;
		border: 1px slid red;
		padding-left: 1rem;
	}
	&__button {
		position: absolute;
		top: 0;
		right: 0;
		width: $navbarHeight;
		height: $navbarHeight;
		border: none;
		background-color: color(Dark);
		clip-path: inset(0 0 0 100%);
		transition: clip-path $base-transition $base-cubic-bezier;
		cursor: pointer;
		&:focus,
		&:hover {
			outline: none;
			background-color: color(Green);
		}
		span {
			@include menu();
		}
		.sidebar-open & {
			span {
				@include menu-close();
			}
		}
		@media #{$small-only} {
			clip-path: inset(0 0 0 0);
		}
	}
	@media #{$small-only} {
		width: calc(100vw - #{$navbarHeight});
		background-color: color(Dark);
		color: color(White);
		clip-path: inset(0 100% 0 0%);
		transition: clip-path $base-transition $base-cubic-bezier;
		animation: iosFix2 0.5s;
		pointer-events: none;
		padding-top: $navbarHeight;
		padding: $mobile-padding 0;
		.sidebar-open & {
			clip-path: inset(0 0% 0 0%);
			animation: iosFix1 0.5s;
			pointer-events: all;
		}
	}
}
