@keyframes iosFix1{
	to{ top: 0.01px; }
}
@keyframes iosFix2{
	to{ top: 0.01px; }
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: $sidebarWidth;
	box-sizing: border-box;
	background-color: color(Dark, 0.15);
	color: color(Dark);
	overflow-y: auto;
	margin: 0;
	@media #{$small-only}{
		background-color: color(Dark);
		color: color(White);
		clip-path: inset(0 100% 0 0%);
		transition: clip-path $base-transition $base-cubic-bezier;
		padding-top: $navbarHeight;
		pointer-events: none;
		animation: iosFix2 0.5s;
		.sidebar-open & {
			clip-path: inset(0 0% 0 0%);		animation: iosFix1 0.5s;
			pointer-events: all;
		}
	}
	&__links {
		display: block;
		margin: 0;
		li {
			display: block;
		}
	}
	&__link {
		display: block;
		color: currentColor;
		padding: 0.5rem 2rem;
		&.active {
			color: $accentColor;
		}
	}
	&__heading{
		display: block; 
		font-weight: bold;
		padding: .5rem 2rem;
	}
	&__group{
		margin-top: 1rem;
	}
	&__group-items{
		// border: 1px solid blue;
	}
	&__sub-headers {
		display: block;
		border: 1px slid red;
		padding-left: 1rem;
	}
	&__button {
		position: absolute;
		top: 0;
		right: 0;
		width:$navbarHeight;
		height:$navbarHeight;
		border: none;
		background-color: color(Dark);
		clip-path: inset(0 0 0 100%); 
		transition: clip-path $base-transition $base-cubic-bezier;
		cursor: pointer;
		&:focus,&:hover{
			outline: none; 
			background-color: color(Green);
		}
		span {
			@include menu();
		}
		.sidebar-open &{
			span{
				@include menu-close();
			}
		}
		@media #{$small-only}{
			clip-path: inset(0 0 0 0);		
		}
	}
}